
body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 30% 40% 30%;
    background-color: #4C191B;
}

h1 {
    grid-column: 2;
    grid-row: 1;
    color: #ECFFF8;
    background-color: #C589E8;
    border: 2px solid #963D5A;
    padding: 5%;
    margin: 10%;

}

#DialContainer {
    grid-column: 2;
    grid-row: 2;
}

.dial {
    width: auto;
    height: 100%;
    
        
}

.Selector {
    grid-column: 2;
    grid-row: 3;
    background-color: #C589E8;
    padding: 5%;
    margin: 10%;
    border: 2px solid #963D5A;
}

#SecondsHand {
    transform-origin: center;
    animation: handRotation 60s steps(60) infinite;
}

#MinutesHand {
    transform-origin: center;
    animation: handRotation 3600s steps(3600) infinite;
}

#HoursHand {
    transform-origin: center;
    animation: handRotation 216000s steps(216000) infinite;
}

#TimerContainer {
    grid-column: 3;
    grid-row: 2;
    width: 100%;
    height: 100%;

}


#StopwatchContainer {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 100%;

}

/* animations */

@keyframes handRotation {
    to {
        transform: rotate(360deg);
    }
}